body {
	color: white;
	font-size: 50px;
}

.wrapper {
	height: 510px;
	width: 410px;
	background: green;
	margin: auto;
}

#display {
	float: right;
	font-size: 75px;
	color: white;
}

.button {
	float: left;
	height: 100px;
	width: 100px;
	border: 1px solid black;
	margin: auto;
}

.operation {
	float: right;
}

.display_box {
	border: 2px solid black;	
	height: 100px;
	width: 300px;
	float: right;
}