body {
	color: white;
	font-size: 55px;
	text-align: center;
	box-sizing: border-box;
}

.wrapper {
	height: 450px;
	width: 400px;
	background: green;
	margin: auto;
}

.button {
	border: 1px solid gray;
	margin: auto;
	box-sizing: border-box;
	width: 25%;
	height: 20%;
	float: left;
}

.clear {
	border: 1px solid gray;
	box-sizing: border-box;
	float: left;
	width: 25%;
	height: 20%;
}

.display {
	border: 1px solid gray;
	box-sizing: border-box;
	float: left;
	width: 75%;
	height: 20%;
}